In [1]:
#import dependencies
import csv
import pandas as pd

In [2]:
#reading in weather data from csv
Csvpath = "weather_data2019_csv.csv"
weather_data = pd.read_csv(Csvpath)
weather_data['Date time']= pd.to_datetime(weather_data['Date time']) 
weather_data['Date'] = weather_data['Date time'].dt.strftime('%m/%d/%Y')
weather_data.head()

,Location,Address,Country,Date time,Maximum Temperature,Minimum Temperature,Temperature,Wind Chill,Heat Index,Precipitation,Snow Depth,Wind Speed,Wind Gust,Cloud Cover,Relative Humidity,Conditions,Date
0,NaN,30308,USA,2019-01-01,64.9,56.1,61.2,NaN,NaN,0.2,NaN,6.0,NaN,70.7,91.08,"Rain, Partially cloudy",01/01/2019
1,NaN,30308,USA,2019-01-02,56.8,48.8,52.1,46.4,NaN,0.4,NaN,7.2,NaN,72.8,92.82,"Rain, Partially cloudy",01/02/2019
2,NaN,30308,USA,2019-01-03,54.4,50.1,52.3,NaN,NaN,0.3,NaN,9.9,NaN,99.4,96.68,"Rain, Overcast",01/03/2019
3,NaN,30308,USA,2019-01-04,64.6,45.0,54.3,40.2,NaN,1.2,NaN,18.1,33.6,87.5,86.99,"Rain, Overcast",01/04/2019
4,NaN,30308,USA,2019-01-05,57.5,43.6,48.6,36.2,NaN,0.0,NaN,17.0,33.3,40.7,65.53,Partially cloudy,01/05/2019

In [9]:
#reading in traffic data from csv Atl_Traffic_data.csv
Csvpath2 = "Atl_Traffic_data.csv"
traffic_data = pd.read_csv(Csvpath2)
traffic_data = traffic_data.rename(columns = {"30312":"30312_Accidents","30339":"30339_Accidents",
                                              "30331":"30331_Accidents","30315":"30315_Accidents",
                                              "30309":"30309_Accidents","30340":"30340_Accidents",
                                              "30308":"30308_Accidents","30324":"30324_Accidents",
                                              "30342":"30342_Accidents","30318":"30318_Accidents"})
traffic_data.head()

,Date,30312_Accidents,30339_Accidents,30331_Accidents,30315_Accidents,30309_Accidents,30340_Accidents,30308_Accidents,30324_Accidents,30342_Accidents,30318_Accidents
0,01/01/2019,2.0,1.0,NaN,1.0,2.0,1.0,NaN,NaN,3.0,NaN
1,01/02/2019,1.0,NaN,2.0,1.0,5.0,2.0,4.0,3.0,1.0,3.0
2,01/03/2019,4.0,2.0,2.0,3.0,1.0,2.0,2.0,1.0,2.0,2.0
3,01/04/2019,4.0,1.0,1.0,4.0,3.0,6.0,2.0,1.0,1.0,2.0
4,01/05/2019,1.0,NaN,3.0,NaN,NaN,1.0,1.0,1.0,NaN,2.0

In [12]:
#creating separate traffic dataframes for each zipcode
traffic_data_30312 = traffic_data[["Date","30312_Accidents"]]
traffic_data_30339 = traffic_data[["Date","30339_Accidents"]]
traffic_data_30331 = traffic_data[["Date","30331_Accidents"]]
traffic_data_30315 = traffic_data[["Date","30315_Accidents"]]
traffic_data_30309 = traffic_data[["Date","30309_Accidents"]]
traffic_data_30340 = traffic_data[["Date","30340_Accidents"]]
traffic_data_30308 = traffic_data[["Date","30308_Accidents"]]
traffic_data_30324 = traffic_data[["Date","30324_Accidents"]]
traffic_data_30342 = traffic_data[["Date","30342_Accidents"]]
traffic_data_30318 = traffic_data[["Date","30318_Accidents"]]

In [13]:
#creating separate weather dataframes for each zipcode
weather_data_30312 = weather_data.loc[weather_data["Address"]==30312,:]
weather_data_30339 = weather_data.loc[weather_data["Address"]==30339,:]
weather_data_30331 = weather_data.loc[weather_data["Address"]==30331,:]
weather_data_30315 = weather_data.loc[weather_data["Address"]==30315,:]
weather_data_30309 = weather_data.loc[weather_data["Address"]==30309,:]
weather_data_30340 = weather_data.loc[weather_data["Address"]==30340,:]
weather_data_30308 = weather_data.loc[weather_data["Address"]==30308,:]
weather_data_30324 = weather_data.loc[weather_data["Address"]==30324,:]
weather_data_30342 = weather_data.loc[weather_data["Address"]==30342,:]
weather_data_30318 = weather_data.loc[weather_data["Address"]==30318,:]

In [16]:
#30312 traffic and weather merge
weather_traffic_30312 = pd.merge(weather_data_30312, traffic_data_30312, on = "Date", how = "left")
weather_traffic_30312["30312_Accidents"].sum()

764.0

In [15]:
#all other zipcodes traffic and weather merge
#30339
weather_traffic_30339 = pd.merge(weather_data_30339, traffic_data_30339, on = "Date", how = "left")
#30331
weather_traffic_30331 = pd.merge(weather_data_30331, traffic_data_30331, on = "Date", how = "left")
#30315
weather_traffic_30315 = pd.merge(weather_data_30315, traffic_data_30315, on = "Date", how = "left")
#30309
weather_traffic_30309 = pd.merge(weather_data_30309, traffic_data_30309, on = "Date", how = "left")
#30340
weather_traffic_30340 = pd.merge(weather_data_30340, traffic_data_30340, on = "Date", how = "left")
#30308
weather_traffic_30308 = pd.merge(weather_data_30308, traffic_data_30308, on = "Date", how = "left")
#30324
weather_traffic_30324 = pd.merge(weather_data_30324, traffic_data_30324, on = "Date", how = "left")
#30342
weather_traffic_30342 = pd.merge(weather_data_30342, traffic_data_30342, on = "Date", how = "left")
#30318
weather_traffic_30318 = pd.merge(weather_data_30318, traffic_data_30318, on = "Date", how = "left")

In [27]:
weather_traffic_30312.to_csv('30312_weather_traffic.csv',index = True, header = True)
weather_traffic_30339.to_csv('30339_weather_traffic.csv',index = True, header = True)
weather_traffic_30331.to_csv('30331_weather_traffic.csv',index = True, header = True)
weather_traffic_30315.to_csv('30315_weather_traffic.csv',index = True, header = True)
weather_traffic_30309.to_csv('30309_weather_traffic.csv',index = True, header = True)
weather_traffic_30340.to_csv('30340_weather_traffic.csv',index = True, header = True)
weather_traffic_30308.to_csv('30308_weather_traffic.csv',index = True, header = True)
weather_traffic_30324.to_csv('30324_weather_traffic.csv',index = True, header = True)
weather_traffic_30342.to_csv('30342_weather_traffic.csv',index = True, header = True)
weather_traffic_30318.to_csv('30318_weather_traffic.csv',index = True, header = True)